#Adafruit-DHT==1.1.1
Jinja2==2.10
MarkupSafe==1.0
PyYAML==3.12
RPi.GPIO==0.6.3
astral==1.6
backports-abc==0.5
bokeh==0.12.14
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
idna==2.6
numpy==1.14.2
packaging==17.1
picamera==1.13
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
smbus-cffi==0.5.1
tornado==5.0
urllib3==1.22
